$base: #222324;
$dark: #161618;
$light: #7b8186;
$text: #ffffff;
$text-dark: #e2e2e27e;
$first: #00fa4b;
$second: #00ff9d;
$third: #009225;
$light-transparent: #0000004f;
$dark-transparent: #00000052;
$black-transparent: #00000081;
$back-transparent: #ffffff3b;
$error: #c8ff00;
$read: #00f7ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: $base;
  color: $text;

  overflow: hidden;
}

#page-ctn {
  &.in-chat {
    height: 100vh;
    overflow-y: hidden;
  }
}

#chat-app-ctn {
  position: relative;
  overflow: hidden;
}
@import "./sass/navbar";
@import "./sass/form";
@import "./sass/friendList";
@import "./sass/chat";
@import "./sass/optionsMenu";
@import "./sass/friendRequests";
@import "./sass/options";
@import "./sass/loader";
@import "./sass/icons";
@import "./sass/photo";
