#chat-mssg-ctn {
  height: calc(100% - 3.6rem - 3.6rem);

  overflow-y: scroll;
  overflow-x: hidden;

  & h5 {
    width: fit-content;
    margin: auto;
    padding: 0.4rem 0.6rem;

    background-color: $dark;
    border-radius: 0.4rem;
    color: $text;

    letter-spacing: 0.2rem;
    font-weight: 500;
  }

  & div.event {
    width: fit-content;
    max-width: 80vw;
    margin: auto;
    padding: 0.4rem 0.6rem;

    background-color: $dark;
    border-radius: 0.4rem;
    color: $light;

    font-size: 0.8rem;
    text-align: center;

    & > div {
      margin-top: 0.2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      font-size: 1.8rem;

      & > .photo {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  & ul {
    padding: 0.6rem;
    display: grid;
    gap: 0.4rem;

    list-style: none;
  }
}

.mssg {
  width: fit-content;
  max-width: 16rem;
  padding: 0.6rem 0.5rem 0.2rem 0.6rem;

  color: $text;
  border-radius: 0.8rem;

  word-wrap: break-word;
  user-select: none;

  transition: background-color ease 0.3s;

  & > h4 {
    margin-top: -0.5rem;
    margin-bottom: -0.2rem;

    font-weight: 400;
  }

  & > .photo {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: -2.2rem;
    z-index: 500;

    border: 1px solid $light;
  }

  &.space {
    margin-top: 0.4rem;

    &.not-me {
      border-top-left-radius: 0;
    }

    &.me {
      border-top-right-radius: 0;
    }
  }

  &.left {
    margin-left: 2rem;
  }

  &.me {
    justify-self: end;

    background-color: $third;

    & > span {
      right: 0;
    }
  }

  &.file {
    padding: 0.3rem 0.3rem 0.2rem 0.6rem;
  }

  &.not-me {
    background-color: $dark;

    & > span {
      left: 0;
    }
  }

  &.intersecting {
    background-color: red;
  }

  & .mssg-text {
    display: flex;
    font-size: 0.9rem;

    flex-wrap: wrap;

    & > .date {
      height: min-content;
      margin-left: auto;
      align-self: flex-end;

      color: $text-dark;

      font-size: 0.7rem;
      text-wrap: nowrap;
    }

    &.deleted {
      color: $light;

      font-size: 0.8rem;
    }
  }

  & div.deleted {
    display: flex;
    justify-content: center;
    align-items: center;

    & .icon {
      width: 1.4rem;
      height: 1.4rem;

      color: $light;
    }
  }

  &.deleted {
    background-color: $dark;
  }

  & > span {
    width: calc(100vw - 1.2rem);
    height: calc(100% + 0.4rem);
    display: none;
    position: absolute;
    top: -0.2rem;
    z-index: 200;

    background-color: rgba(0, 255, 128, 0.349);

    &.active {
      display: block;
    }

    &.right {
      width: calc(100vw - 1.2rem - 2rem);
    }
  }
}

.comp-ctn {
  display: flex;
  align-items: end;
  justify-content: end;

  color: $text-dark;
}

.chat-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin: -0.2rem -0.3rem -0.2rem 0.1rem;
  padding: -1rem;

  &.clock {
    width: 1rem;
    height: 1rem;
    margin: -0.2rem 0.3rem 0;
  }

  &.error {
    width: 1.2rem;
    height: 1.2rem;
    margin: -0.1rem 0.3rem;

    color: $error;
  }

  &.read {
    color: $read;
    color: #a867d3;
    color: #53e4bf;
    color: #f36d4c;
    color: #ee3800;
    color: #eea300;
    color: #5179ff;
    color: #db5c78;
    color: #7adb5c;
  }
}

@import "./files/files";
