#info-chat-ctn {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 3000;

  background-color: $dark;

  transition: left ease 0.5s;

  overflow: scroll;

  &.active {
    left: 0;
  }

  & > h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  & > p {
    text-align: center;
  }

  & > button {
    width: max-content;
    margin: 0.3rem auto;
    display: flex;
    gap: 0.4rem;
    align-items: center;

    background-color: transparent;
    border: none;

    color: red;

    font-size: 1.2rem;

    &:active,
    &:hover {
      text-decoration: underline;
    }

    & .info-action-icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &.open {
    overflow: hidden;
  }
}

#img-ctn {
  width: fit-content;
  margin: 1rem auto;
  padding: 0;
  position: relative;

  & > div {
    width: 7rem;
    height: 7rem;
  }

  & span {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    background-color: $light;
    border-radius: 1rem;

    &.active {
      background-color: $first;
    }
  }
}

#files-chat-ctn {
  border-top: 0.8rem solid $base;
  border-bottom: 0.8rem solid $base;

  & h3 {
    padding: 0.4rem 0.8rem;

    letter-spacing: 0.2rem;
  }
}

#files-ctn {
  height: 4rem;

  border-top: 1px solid $light;
}

#member-list-info-chat {
  background-color: $dark;
  border-bottom: 0.8rem solid $base;

  & > h3 {
    padding: 0.4rem 0.8rem;

    border-bottom: 1px solid $light;

    letter-spacing: 0.1rem;
  }

  & > li {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 0.6rem 0 0;

    & > .photo {
      min-width: 3rem;
      max-width: 3rem;
      height: 3rem;
      position: relative;

      & > .icon {
        width: 1.6rem;
        height: 1.6rem;
        padding: 0.2rem;
        position: absolute;
        top: -0.4rem;
        right: -0.4rem;

        background-color: $base;
        border: 1px solid $light;
        border-radius: 100%;
      }
    }

    & > div {
      width: 100%;
      margin-left: 0.8rem;

      & > p {
        color: $text-dark;
      }

      & > div {
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;

        & > p {
          overflow: hidden;
          text-overflow: ellipsis;

          &:last-child {
            min-width: max-content;
          }

          &.admin {
            padding: 0 0.3rem;

            background-color: $base;
            color: $second;
            border-radius: 0.4rem;
            border-top-right-radius: 0;
          }
        }
      }
    }
  }
}

#groupMemberModal {
  width: 100%;
  height: calc(100% - 3rem);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3rem;
  left: 0;

  background-color: $black-transparent;

  &.active {
    display: flex;
  }

  & > div {
    width: 80vw;
    max-width: 24rem;
    display: flex;
    flex-direction: column;

    background-color: $dark;

    & > button {
      width: 100%;
      padding: 0.4rem 0.6rem;

      background-color: transparent;
      border: none;
      color: $text;

      text-align: start;

      &:active {
        background-color: $base;
      }
    }
  }
}
