#inputCtn {
  position: relative;
}

#input-chat-ctn {
  width: 100%;
  height: 3.6rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;

  background-color: $dark;

  & > h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;

    font-weight: 100;
  }

  &.disabled {
    flex-direction: column;
    justify-content: space-between;
  }

  & > .textarea-ctn {
    width: 100%;
    height: 2.6rem;
    position: relative;
    display: flex;

    background-color: $base;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;

    transition: transform ease 0.3s;
    transform-origin: right;

    &.collapsed {
      transform: scale(0);
    }

    & > textarea {
      width: 100%;
      padding: 0.7rem 1rem;

      color: $text;
      background-color: transparent;
      border: none;
      outline: none;

      resize: none;
      line-height: 1rem;
    }
  }

  & > button {
    min-width: 2.6rem;
    min-height: 2.6rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;

    &[type="button"] {
      margin-right: 0.5rem;

      background-color: $base;
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;

      transition: border-radius ease 0.5s;

      &.rounded {
        transition: border-radius ease 0.2s;
        border-radius: 2rem;
      }
    }

    &[type="submit"],
    &.voiceNote {
      background-color: $third;
      border-radius: 100%;
    }
  }
}

#clip-files-icon,
#clip-files-close-icon {
  width: 80%;
  height: 80%;

  color: $text;
}

.send-mssg-icon {
  width: 70%;
  height: 70%;
  margin-right: -0.2rem;

  color: $text;

  &.voice-note {
    margin: 0;
  }
}

#is-not-friend-text {
  width: 100%;
  margin-top: 0.7rem;

  color: $text-dark;

  line-height: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

#delete-text {
  width: 100%;

  color: $text-dark;

  text-align: center;

  & > span {
    color: $second;

    &:active {
      text-decoration: underline;
    }
  }
}

#replyMssgCtn {
  width: 100%;
  height: 0;

  background-color: $dark;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;

  &.open {
    height: 4rem;
    padding: 0.6rem 0.5rem;
  }

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    background-color: $base;
    border-radius: 0.6rem;

    overflow: hidden;

    & > div {
      padding: 0.4rem;
      display: grid;

      & > p {
        color: $text-dark;

        font-size: 0.8rem;
      }
    }

    & > img {
      width: auto;
      height: 100%;
    }

    & > video {
      width: auto;
      height: 100%;
    }

    & > button {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 0;
      right: 0;

      background-color: transparent;
      border: none;
      outline: none;

      & > .icon {
        width: 100%;
        height: 100%;

        color: $light;
      }
    }
  }
}

@import "./inputCtn/filePreviewer";
