#multimedia-ctn {
  width: 90vw;
  padding: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 4.2rem;
  left: 5vw;

  background-color: $dark;
  border-radius: 1rem;

  clip-path: circle(0% at 50% 100%);

  transition: clip-path ease 0.6s;

  &.active {
    clip-path: circle(150% at 50% 100%);
  }

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: -0.5rem;
    left: calc(50% - 0.5rem);

    background: linear-gradient(135deg, transparent 40%, $dark 40%);
    transform: rotate(45deg);
  }

  & > input[type="file"] {
    display: none;
  }

  & > button {
    width: 3rem;
    height: 3rem;

    background: linear-gradient(0deg, #00000028 50%, #00000077 50%);
    border: none;
    border-radius: 3rem;
    outline: none;

    &:active {
      background: linear-gradient(0deg, #0000005d 50%, #000000a4 50%);
    }

    &.doc {
      background-color: $second;
    }
    &.gall {
      background-color: $first;
    }
    &.aud {
      background-color: $third;
    }

    & .icon {
      width: 50%;
      height: 50%;
      margin-bottom: -0.3rem;

      color: $text;
    }
  }
}

#file-preview {
  width: 100%;
  position: absolute;
  bottom: 100%;

  background-color: $dark;
  border-bottom: 1px solid $base;

  & > .image,
  & > .video-ctn {
    height: calc(100vh - 6rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow: scroll;

    & > #video-controller {
      & > span {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);

        color: $second;
        background-color: $dark;
        border: none;
        border-radius: 3rem;

        opacity: 0;
        transition: opacity ease 0.3s;

        &.active {
          opacity: 0.85;
        }

        & > .icon {
          width: 60%;
          height: 60%;
          margin-right: -0.28rem;
        }
      }
    }

    & > input {
      position: absolute;
      bottom: 1rem;
    }

    & > p {
      width: fit-content;
      display: flex;
      gap: 0.6rem;
      position: absolute;
      top: 1rem;
      left: 0.5rem;

      font-weight: 500;

      & > span {
        padding: 0.1rem 0.4rem;

        color: $first;
        border-radius: 0.6rem;
        background-color: #00000046;
      }
    }

    & > img,
    & video {
      max-width: 100%;
      max-height: calc(100% - 3.2rem);
    }
  }
}
