#multimedia-ctn {
  width: 90vw;
  padding: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 4.2rem;
  left: 5vw;

  background-color: $dark;
  border-radius: 1rem;

  clip-path: circle(0% at 50% 100%);

  transition: clip-path ease 0.6s;

  &.active {
    clip-path: circle(150% at 50% 100%);
  }

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: -0.5rem;
    left: calc(50% - 0.5rem);

    background: linear-gradient(135deg, transparent 40%, $dark 40%);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    width: 28%;
    height: 1rem;
    position: absolute;
    top: -0.35rem;
    left: calc(50% - 14%);
    z-index: 100;

    background: linear-gradient(0deg, transparent 40%, $dark 40%);
    border-radius: 3rem;
  }

  & > input[type="file"] {
    display: none;
  }
}

#file-preview {
  width: 100%;
  position: absolute;
  bottom: 100%;

  background-color: $dark;
  border-bottom: 1px solid $base;

  &.down {
    bottom: 0;
  }
}

@import "./filePreviwer/imageAndVideo";
