#options-ctn {
  width: 100%;
  height: calc(100vh - 3rem);
  position: absolute;
  top: 0rem;
  left: -100%;

  background-color: $dark;

  transition: left ease 0.3s;

  &.active {
    left: 0;
  }
}

@import "./options/userInfo";
@import "./options/createNewGroup";
@import "./options/featuredMessages";
