.multimedia-timer-bar {
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  & > p {
    width: 3rem;

    color: $text;

    font-weight: 500;
    text-align: center;
  }
}

.multimedia-timer-bar > input,
.timer-bar {
  width: 80%;
  height: 0.8rem;
  margin: auto;

  appearance: none;
  background: $base;
  border-radius: 5px;
  background-image: linear-gradient($second, $second);
  background-size: 10% 100%;
  background-repeat: no-repeat;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: $second;
    box-shadow: 0 0 2px 1px $dark;
  }
}

.multimedia-timer-bar > button,
.timer-bttn {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $second;
  background-color: transparent;
  border: none;
  outline: none;

  & > .icon {
    width: 60%;
    height: 60%;

    &.bigger {
      width: 100%;
      height: 100%;
    }
  }
}
