.video-message-ctn,
.image-message-ctn {
  padding: 0.3rem 0.3rem 0 0;
  position: relative;

  & > .ctn-clickable {
    & > video,
    & > img {
      max-width: 100%;
      max-height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &.square {
    padding: 0;

    overflow: hidden;

    & > .ctn-clickable {
      min-width: 100%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      & > img,
      & > video {
        height: 100%;
        max-width: none;
        max-height: none;
      }
    }
  }

  &.active {
    width: 100vw;
    height: calc(100vh - 3.1rem);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 10000;

    background-color: $base;
  }

  & > video,
  & > img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  & > .multimedia-timer-bar {
    width: 100%;
    position: absolute;
    bottom: 1rem;
  }

  & > .up-bar {
    width: 100%;
    padding: 0.3rem 0.1rem;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    position: absolute;
    top: 0;
    left: 0;

    background-color: $black-transparent;

    & > :first-child {
      width: 2rem;
      height: 2rem;
    }

    & > a {
      width: 1.8rem;
      height: 1.8rem;

      &:active {
        -webkit-tap-highlight-color: transparent;
      }

      &:active :first-child {
        color: $text-dark;
      }

      & > :last-child {
        width: 1.8rem;
        height: 1.8rem;
        align-self: center;

        color: $text;
      }
    }

    & > div {
      margin-left: 0.4rem;

      & > div {
        display: flex;
        gap: 1.6rem;
      }
    }
  }

  & > .down-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $black-transparent;

    & > p {
      width: 80%;
      margin: 0.8rem auto 0.3rem;

      font-size: 0.9rem;
      text-align: center;
    }

    & > .up {
      margin-bottom: 0.6rem;
    }
  }
}
